/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 5rem;
}

body.jumbo {
    padding-top: 0;
}

@media (max-width: 767.98px) {
    body.jumbo { padding-top: 0.5rem; }
}

@media (max-width: 574.98px) {
    body.jumbo { padding-top: 1.5rem; }
}



.jumbotron {
}

.jumbo {
}
.iframe-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.card {
    height: 100%;
}

.fox2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
