/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 5rem;
}

body.jumbo {
    padding-top: 0;
}

@media (max-width: 767.98px) {
    body.jumbo { padding-top: 0.5rem; }
}

@media (max-width: 574.98px) {
    body.jumbo { padding-top: 1.5rem; }
}

@media (max-width: 499.98px) {
    .contact-nav { display: none; }
}
@media (max-width: 399.98px) {
    body { padding-top: 6.5rem; }
    body.jumbo { padding-top: 4.5rem; }
}

.jumbotron {
}

.jumbo {
}
.iframe-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.card {
    height: 100%;
}

.fox2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Reviews */
.btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.rating-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
    margin: 1px;
}
.bold{
    font-weight:700;
}
.padding-bottom-7{
    padding-bottom:7px;
}

.review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
}
.review-block-name{
    font-size:12px;
    margin:10px 0;
}
.review-block-date{
    font-size:14px;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:13px;
}